{% load classname %}
<div class="row">
	<!-- main title -->
	<div class="col-12">
		<div class="main__title">
			<h2>{{label}}</h2>
			<span class="main__title-stat">{{page_obj.paginator.count}} Total</span>
			{% include 'adminDashboard/includes/search.html' %}
		</div>
	</div>
	<!-- end main title -->

	<!-- users -->
	<div class="col-12">
		<div class="main__table-wrap">
			<table class="main__table">
				<thead>
					<tr>
						<th>TITLE</th>
						<th>RATING</th>
						<th>GENRE</th>
						<th>VIEWS</th>
						<th>STATUS</th>
						<th>ADDED ON</th>
						<th>ACTIONS</th>
					</tr>
				</thead>

				<tbody>
					<!-- Shows -->
					{% for show in page_obj %}
					<tr>
						<td>
							<div class="main__user">
								<div class="main__avatar">
									<img src="{{show.poster_path}}" alt="{{show.title}}">
								</div>
								<div class="main__meta">
									<h3>{{show.title}}</h3>
									<span>{{show.release_date}}</span>
								</div>
							</div>
						</td>
						<td>
							<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i>
								{{show.vote_average}}
							</div>
						</td>
						<td>
							<div class="main__table-text">
								{% if show.genre.all %}
									{% for genre in show.genre.all %}
									{% if forloop.last %}
										{{genre.name}}
									{% else %}
										{{genre.name}},
									{% endif %}
									{% endfor %}
								{% else %}
									None
								{% endif %}
							</div>
						</td>
						<td>
							<div class="main__table-text">{{show.view.count}}</div>
						</td>
						<td>
							{% if show.published %}
							<div class="main__table-text main__table-text--green">Published</div>
							{% else %}
							<div class="main__table-text main__table-text--red">Draft</div>
							{% endif %}
						</td>
						<td>
							<div class="main__table-text">{{show.added_on|date:"j F, Y"}}</div>
						</td>
						<td>
							<div class="main__table-btns">
								{% if show.published %}
									<a href="#modal-status-{{show.id}}" class="main__table-btn main__table-btn--banned open-modal">
										<i class="icon ion-ios-lock"></i>
									</a>
								{% else %}
									<a href="#modal-status-{{show.id}}" class="main__table-btn main__table-btn--delete open-modal">
										<i class="icon ion-ios-lock"></i>
									</a>
								{% endif %}
                                {% if show|getClassName == "Movie" %}
								<a href="{% url 'app_webapp:movie_detail' show.slug %}" class="main__table-btn main__table-btn--view">
									<i class="icon ion-ios-eye"></i>
								</a>
                                {% else %}
                                <a href="{% url 'app_webapp:tv_detail' show.slug %}" target="_blank" class="main__table-btn main__table-btn--view">
									<i class="icon ion-ios-eye"></i>
								</a>
                                {% endif %}
								<a href="
								{% if show|getClassName == 'Movie' %}
									{% url 'app_adminDashboard:show_movie_link' show.id %}
								{% else %}
									{% url 'app_adminDashboard:show_tv_season' show.id %}
								{% endif %}
								" class="main__table-btn main__table-btn--edit">
									<i class="icon ion-ios-create"></i>
								</a>
								<a href="#modal-delete-{{show.id}}" class="main__table-btn main__table-btn--delete open-modal">
									<i class="icon ion-ios-trash"></i>
								</a>
							</div>
							<!-- modal status -->
							<div id="modal-status-{{show.id}}" class="zoom-anim-dialog mfp-hide modal">
								<h6 class="modal__title">Status change</h6>

								<p class="modal__text">Are you sure about immediately change status?</p>
								<form method="post" action="
								{% if show|getClassName == 'Movie' %}
									{% url 'app_adminDashboard:movies' %}
								{% else %}
									{% url 'app_adminDashboard:tvs' %}
								{% endif %}
								" >
									<div class="modal__btns">
										{% csrf_token %}
										<input type="hidden" name="id" value="{{show.id}}">
										<input type="hidden" name="action" value="status">
										<button class="modal__btn modal__btn--apply" type="submit" >Apply</button>
										<button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
									</div>
								</form>
							</div>
							<!-- end modal status -->

							<!-- modal delete -->
							<div id="modal-delete-{{show.id}}" class="zoom-anim-dialog mfp-hide modal">
								<h6 class="modal__title">Delete {{show|getClassName}}</h6>

								<p class="modal__text">Are you sure to permanently delete "{{show.title}}"?</p>
								<form method="post" action="
                                    {% if show|getClassName == 'Movie' %}
                                        {% url 'app_adminDashboard:delete_movie' show.id %}
									{% else %}
										{% url 'app_adminDashboard:delete_tv' show.id %}
                                    {% endif %}" >
									<div class="modal__btns">
										{% csrf_token %}
										<button class="modal__btn modal__btn--apply" type="submit" value="DELETE">Delete</button>
										<button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
									</div>
								</form>
							</div>
						</td>
					</tr>
					{% endfor %}
					<!-- end Shows -->
				</tbody>
			</table>
		</div>
	</div>
	<!-- end users -->
	{% include 'adminDashboard/includes/pagination.html' with page_obj=page_obj only %}
	
</div>