{% extends "webapp/_basehandler.html" %}
{% block content %}
<a class="skip-link d-none" href="#maincontent">Skip</a>
<div class="d-flex align-items-center justify-content-center flex-column vh-100 noting">
    <div class="glitch" data-text="404">404</div>
    <div class="glitch glitch-p" data-text="The page you are looking for is currently not available!">The page you are looking for is currently not available!</div>
    <a href="{% url 'webapp:home' %}">Go Back</a>
</div>
{% endblock content %}