{% extends 'webapp/_base.html' %} {% load static %} {% block content %}
<div class="app-content pt-md-3">
    <div class="app-section">
        {% if sliders %}
        <div class="app-slider">
            <div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <ol class="carousel-indicators">
                        {% for slider in sliders %}
                        <li data-target="#slider" data-slide-to="{{forloop.counter}}" class="{% if forloop.counter == 1 %}active{% endif %}">
                        </li>
                        {% endfor %}
                    </ol>
                    {% include 'webapp/includes/slider.html' with sliders=sliders only %}
                </div>
                <div class="carousel-control">
                    <a class="control-prev" href="#slider" role="button" data-slide="prev" aria-label="Prev">
                        <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'webapp/public/assets/img/sprite.svg' %}#chevron-left" />
               </svg>
                    </a>
                    <a class="control-next" href="#slider" role="button" data-slide="next" aria-label="Next">
                        <svg>
                  <use xlink:href="{% static 'webapp/public/assets/img/sprite.svg' %}#chevron-right" />
               </svg>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% if stories %}
    <div class="app-section">
        <div class="app-trailer">
            <div class="row row-cols-7 list-story">
                {% for story in stories %}
                    {% include 'webapp/includes/story.html' with story=story only %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if new_episodes %}
    <div class="app-section">
        <div class="app-heading">
            <div class="text">
                Latest Episodes
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 list-scrollable">
            {% for episode in new_episodes %}
                {% include 'webapp/includes/episode.html' with episode=episode only %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if new_movies %}
    <div class="app-section">
        <div class="app-heading">
            <div class="text">
                Latest Movies
            </div>
            <a href="{% url 'app_webapp:movie_list' %}" class="all">All</a>
        </div>
        <div class="row row-cols-5 list-scrollable">
            {% for movie in new_movies %}
                {% include 'webapp/includes/show.html' with show=movie only %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if collections %}
    <div class="app-section">
        <div class="app-heading">
            <div class="text">
                Collections
            </div>
            <a href="https://demo.codelug.com/wovie/collections" class="all">All</a>
        </div>
        <div class="row row-wrap row-cols-lg-3 row-cols-md-2 list-scrollable list-scrollablev2 list-grouped">
            {% include 'webapp/includes/collection.html' %}
        </div>
    </div>
    {% endif %}
    {% if new_series %}
    <div class="app-section">
        <div class="app-heading">
            <div class="text">
                Latest TV Shows
            </div>
            <a href="{% url 'app_webapp:tv_list' %}" class="all">All</a>
        </div>
        <div class="row row-cols-5 list-scrollable">
            {% for tv in new_series %}
            {% include 'webapp/includes/show.html' with show=tv only %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% comment 'for future update' %}
    <div class="app-section">
        <div class="row row-cols-5 list-scrollable">
            {% include 'webapp/includes/genre.html' %}
        </div>
    </div>
    {% endcomment %}
    {% if popular_actors %}
    <div class="app-section">
        <div class="app-heading">
            <div class="text">
                Popular Actors
            </div>
            <a href="{% url 'app_webapp:actor_list' %}" class="all">All</a>
        </div>
        <div class="row row-cols-6 list-scrollable">
            {% for actor in popular_actors %}
            {% include 'webapp/includes/actor.html' with actor=actor only %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div> {% endblock content %}