<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'adminDashboard/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminDashboard/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminDashboard/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'adminDashboard/css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminDashboard/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminDashboard/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminDashboard/css/admin.css' %}">

    {% block extra_headers %} {% endblock extra_headers %}
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{{favicon.url}}" sizes="32x32">
    <link rel="apple-touch-icon" href="{{favicon.url}}">
    <meta name="keywords" content="{{description}}">
    <meta name="author" content="{{request.get_host}}">
    <title>{{title}} - Dashboard</title>
</head>

<body>
    <!-- header -->
    <header class="header">
        <div class="header__content">
            <!-- header logo -->
            <a href="{% url 'app_adminDashboard:home' %}" class="header__logo">
                <img src="{{logo.url}}" alt="">
            </a>
            <!-- end header logo -->

            <!-- header menu btn -->
            <button class="header__btn" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- end header menu btn -->
        </div>
    </header>
    <!-- end header -->

    <!-- sidebar -->
    <div class="sidebar">
        <!-- sidebar logo -->
        <a href="{% url 'app_adminDashboard:home' %}" class="sidebar__logo">
            <img src="{{logo.url}}" alt="logo">
        </a>
        <!-- end sidebar logo -->

        <!-- sidebar user -->
        <div class="sidebar__user">
            <div class="sidebar__user-img">
                <img src="{{request.user.profile.url}}" alt="{{request.user.username}}">
            </div>

            <div class="sidebar__user-title">
                <span>{% if request.user.is_superuser %} Hello, Admin {% else %}{% endif %}</span>
                <p>{{request.user.get_full_name}}</p>
            </div>

            <button class="sidebar__user-btn" type="button" onclick=window.location.href="{% url 'app_webapp:logout' %}">
                <i class="icon ion-ios-log-out"></i>
            </button>
        </div>
        <!-- end sidebar user -->

        <!-- sidebar nav -->
        <div class="sidebar__nav-wrap">
            <ul class="sidebar__nav">
                <li class="sidebar__nav-item">
                    <a href="{% url 'app_adminDashboard:home' %}" class="sidebar__nav-link sidebar__nav-link--active"><i
                            class="icon ion-ios-keypad"></i> <span>Dashboard</span></a>
                </li>

                <li class="sidebar__nav-item">
                    <a href="{% url 'app_adminDashboard:movies' %}" class="sidebar__nav-link"><i
                            class="icon ion-ios-film"></i>
                        <span>Movies</span></a>
                </li>

                <li class="sidebar__nav-item">
                    <a href="{% url 'app_adminDashboard:tvs' %}" class="sidebar__nav-link"><i
                            class="icon ion-ios-tv"></i>
                        <span>TV Shows</span></a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="{% url 'app_adminDashboard:import' %}" class="sidebar__nav-link"><i
                            class="icon ion-ios-search"></i>
                        <span>Import</span></a>
                </li>
                {% comment 'for future update' %}
                <!-- collapse -->
                <li class="sidebar__nav-item">
                    <a class="sidebar__nav-link" data-toggle="collapse" href="#collapseMenu" role="button"
                        aria-expanded="false" aria-controls="collapseMenu"><i class="icon ion-ios-copy"></i>
                        <span>Pages</span> <i class="icon ion-md-arrow-dropdown"></i></a>

                    <ul class="collapse sidebar__menu" id="collapseMenu">
                        <li><a href="{% url 'app_adminDashboard:add_page' %}">Add item</a></li>
                    </ul>
                </li>
                <!-- end collapse -->
                {% endcomment %}
                <li class="sidebar__nav-item">
                    <a href="{% url 'app_adminDashboard:users' %}" class="sidebar__nav-link"><i class="icon ion-ios-contacts"></i>
                        <span>Users</span></a>
                </li>

                <li class="sidebar__nav-item">
                    <a href="{% url 'app_adminDashboard:reports' %}" class="sidebar__nav-link"><i class="icon ion-ios-text"></i>
                        <span>Reports</span></a>
                </li>

                <li class="sidebar__nav-item">
                    <a href="{% url 'app_webapp:home' %}" class="sidebar__nav-link"><i class="icon ion-ios-arrow-round-back"></i>
                        <span>Back to {{request.get_host|upper}}</span></a>
                </li>
            </ul>
        </div>
        <!-- end sidebar nav -->

        <!-- sidebar copyright -->
        <div class="sidebar__copyright">© {{request.get_host|upper}}, {% now 'Y' %}.</div>
        <!-- end sidebar copyright -->
    </div>
    <!-- end sidebar -->

    <!-- main content -->
    <main class="main">
        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <!-- end main content -->

    <!-- JS -->
    <script src="{% static 'adminDashboard/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'adminDashboard/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'adminDashboard/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'adminDashboard/js/jquery.mousewheel.min.js' %}"></script>
    <script src="{% static 'adminDashboard/js/jquery.mCustomScrollbar.min.js' %}"></script>
    <script src="{% static 'adminDashboard/js/select2.min.js' %}"></script>
    <script src="{% static 'adminDashboard/js/admin.js' %}"></script>
    {% block extra_footer %}{% endblock extra_footer %}
</body>

</html>