{% extends 'adminDashboard/_base.html' %}
{% load classname %}
{% block content %}
<div class="row row--grid">
	<!-- main title -->
	<div class="col-12">
		<div class="main__title">
			<h2>Dashboard</h2>
		</div>
	</div>
	<!-- end main title -->

	<!-- stats -->
	<div class="col-12 col-sm-6 col-lg-3">
		<div class="stats">
			<span>Unique views this month</span>
			<p>5 678</p>
			<i class="icon ion-ios-stats"></i>
		</div>
	</div>
	<!-- end stats -->

	<!-- stats -->
	<div class="col-12 col-sm-6 col-lg-3">
		<div class="stats">
			<span>Items added this month</span>
			<p>172</p>
			<i class="icon ion-ios-film"></i>
		</div>
	</div>
	<!-- end stats -->

	<!-- stats -->
	<div class="col-12 col-sm-6 col-lg-3">
		<div class="stats">
			<span>New comments</span>
			<p>2 573</p>
			<i class="icon ion-ios-chatbubbles"></i>
		</div>
	</div>
	<!-- end stats -->

	<!-- stats -->
	<div class="col-12 col-sm-6 col-lg-3">
		<div class="stats">
			<span>New reviews</span>
			<p>1 021</p>
			<i class="icon ion-ios-star-half"></i>
		</div>
	</div>
	<!-- end stats -->

	<!-- dashbox -->
	<div class="col-12 col-xl-6">
		<div class="dashbox">
			<div class="dashbox__title">
				<h3><i class="icon ion-ios-trophy"></i> Top Rated Shows</h3>

				<div class="dashbox__wrap">
					<a class="dashbox__more" href="catalog.html">View All</a>
				</div>
			</div>

			<div class="dashbox__table-wrap">
				<table class="main__table main__table--dash">
					<thead>
						<tr>
							<th>TMDB ID</th>
							<th>TITLE</th>
							<th>CATEGORY</th>
							<th>RATING</th>
						</tr>
					</thead>
					<tbody>
						{% for show in top_rated_shows %}
						<tr>
							<td>
								<div class="main__table-text">{{show.themoviedb_id}}</div>
							</td>
							<td>
								<div class="main__table-text"><a href="#">{{show.title}}</a></div>
							</td>
							<td>
								<div class="main__table-text">{{show|getClassName}}</div>
							</td>
							<td>
								<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i>
									{{show.vote_average}}</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- end dashbox -->

	<!-- dashbox -->
	<div class="col-12 col-xl-6">
		<div class="dashbox">
			<div class="dashbox__title">
				<h3><i class="icon ion-ios-film"></i> Latest Shows</h3>

				<div class="dashbox__wrap">
					<a class="dashbox__more" href="catalog.html">View All</a>
				</div>
			</div>

			<div class="dashbox__table-wrap">
				<table class="main__table main__table--dash">
					<thead>
						<tr>
							<th>TMDB ID</th>
							<th>TITLE</th>
							<th>CATEGORY</th>
							<th>STATUS</th>
							<th>ADDED</th>
						</tr>
					</thead>
					<tbody>
						{% for show in latest_shows %}
						<tr>
							<td>
								<div class="main__table-text">{{show.themoviedb_id}}</div>
							</td>
							<td>
								<div class="main__table-text"><a href="#">{{show.title}}</a></div>
							</td>
							<td>
								<div class="main__table-text">{{show|getClassName}}</div>
							</td>
							<td>
								{% if show.published %}
								<div class="main__table-text main__table-text--green">Published</div>
								{% else %}
								<div class="main__table-text main__table-text--red">Draft</div>
								{% endif %}
							</td>
							<td>
								<div class="main__table-text">{{show.added_on|timesince}} ago</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- end dashbox -->

	<!-- dashbox -->
	<div class="col-12 col-xl-6">
		<div class="dashbox">
			<div class="dashbox__title">
				<h3><i class="icon ion-ios-contacts"></i> Latest users</h3>

				<div class="dashbox__wrap">
					<a class="dashbox__more" href="users.html">View All</a>
				</div>
			</div>

			<div class="dashbox__table-wrap">
				<table class="main__table main__table--dash">
					<thead>
						<tr>
							<th>ID</th>
							<th>FULL NAME</th>
							<th>EMAIL</th>
							<th>USERNAME</th>
							<th>COUNTRY</th>
						</tr>
					</thead>
					<tbody>
						{% for user in new_users %}
						<tr>
							<td>
								<div class="main__table-text"><a href="#">{{user.id}}</a></div>
							</td>
							<td>
								<div class="main__table-text"><a href="#">{{user.get_full_name}}</a></div>
							</td>
							<td>
								<div class="main__table-text main__table-text--grey">{{user.email}}</div>
							</td>
							<td>
								<div class="main__table-text">{{user.username}}</div>
							</td>
							<td>
								<div class="main__table-text">{{user.country}}</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- end dashbox -->

	<!-- dashbox -->
	<div class="col-12 col-xl-6">
		<div class="dashbox">
			<div class="dashbox__title">
				<h3><i class="icon ion-ios-star-half"></i> Latest reviews</h3>

				<div class="dashbox__wrap">
					<a class="dashbox__more" href="reviews.html">View All</a>
				</div>
			</div>

			<div class="dashbox__table-wrap">
				<table class="main__table main__table--dash">
					<thead>
						<tr>
							<th>ID</th>
							<th>ITEM</th>
							<th>AUTHOR</th>
							<th>RATING</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="main__table-text">51</div>
							</td>
							<td>
								<div class="main__table-text"><a href="#">I Dream in Another Language</a></div>
							</td>
							<td>
								<div class="main__table-text">Jonathan Banks</div>
							</td>
							<td>
								<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i>
									7.2</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="main__table-text">50</div>
							</td>
							<td>
								<div class="main__table-text"><a href="#">Benched</a></div>
							</td>
							<td>
								<div class="main__table-text">Charles Baker</div>
							</td>
							<td>
								<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i>
									6.3</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="main__table-text">49</div>
							</td>
							<td>
								<div class="main__table-text"><a href="#">Whitney</a></div>
							</td>
							<td>
								<div class="main__table-text">Matt Jones</div>
							</td>
							<td>
								<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i>
									8.4</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="main__table-text">48</div>
							</td>
							<td>
								<div class="main__table-text"><a href="#">Blindspotting</a></div>
							</td>
							<td>
								<div class="main__table-text">Jesse Plemons</div>
							</td>
							<td>
								<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i>
									9.0</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="main__table-text">47</div>
							</td>
							<td>
								<div class="main__table-text"><a href="#">I Dream in Another Language</a></div>
							</td>
							<td>
								<div class="main__table-text">Brian Cranston</div>
							</td>
							<td>
								<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i>
									7.7</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- end dashbox -->
</div>
{% endblock content %}