{% extends 'adminDashboard/_base.html' %}
{% load classname %}
{% block content %}
<div class="row">
	<!-- main title -->
	<div class="col-12">
		<div class="main__title">
			<h2>Reviews</h2>

			<span class="main__title-stat">{{page_obj.paginator.count}} Total</span>

			<div class="main__title-wrap">
				<!-- filter sort -->
				<div class="filter" id="filter__sort">
					<span class="filter__item-label">Sort by:</span>

					<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<input type="button" value="Date created">
						<span></span>
					</div>

					<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
						<li>Date created</li>
						<li>Rating</li>
					</ul>
				</div>
				<!-- end filter sort -->

				<!-- search -->
				<form action="#" class="main__title-form">
					<input type="text" placeholder="Key word..">
					<button type="button">
						<i class="icon ion-ios-search"></i>
					</button>
				</form>
				<!-- end search -->
			</div>
		</div>
	</div>
	<!-- end main title -->

	<!-- reviews -->
	<div class="col-12">
		<div class="main__table-wrap">
			<table class="main__table">
				<thead>
					<tr>
						<th>SHOW</th>
						<th>CATEGORY</th>
						<th>AUTHOR</th>
						<th>DESCRIPTION</th>
						<th>RATING</th>
						<th>ADDED ON</th>
						<th>ACTIONS</th>
					</tr>
				</thead>

				<tbody>
					{% for obj in page_obj %}
					<tr>
						<td>
							<div class="main__table-text"><a href="#">{{obj.show}}</a></div>
						</td>
						<td>
							<div class="main__table-text"><a href="
								{% if obj.show|getClassName == 'Movie' %}
									{% url 'app_adminDashboard:movies' %}
								{% else %}
									{% url 'app_adminDashboard:tvs' %}
								{% endif %}">{{obj.show|getClassName}}</a></div>
						</td>
						<td>
							<div class="main__table-text">{{obj.user.get_full_name|default:"Anonymous"}}</div>
						</td>
						<td>
							<div class="main__table-text">{{obj.description|truncatewords:10}}</div>
						</td>
						<td>
							<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i>{{obj.rating}}</div>
						</td>
						<td>
							<div class="main__table-text">{{obj.added_on|date:"jS F, Y"}}</div>
						</td>
						<td>
							<div class="main__table-btns">
								{% if obj.approved %}
									<a href="#modal-status-{{obj.id}}" class="main__table-btn main__table-btn--banned open-modal">
										<i class="icon ion-ios-lock"></i>
									</a>
								{% else %}
									<a href="#modal-status-{{obj.id}}" class="main__table-btn main__table-btn--delete open-modal">
										<i class="icon ion-ios-lock"></i>
									</a>
								{% endif %}
								<a href="#modal-view-{{obj.id}}" class="main__table-btn main__table-btn--view open-modal">
									<i class="icon ion-ios-eye"></i>
								</a>
								<a href="#modal-delete-{{obj.id}}" class="main__table-btn main__table-btn--delete open-modal">
									<i class="icon ion-ios-trash"></i>
								</a>
							</div>
						</td>
						<!-- modal status -->
						<div id="modal-status-{{obj.id}}" class="zoom-anim-dialog mfp-hide modal">
							<h6 class="modal__title">Approve review</h6>

							<p class="modal__text">Are you sure about immediately approving review?</p>
							<form method="post" action="{% url 'app_adminDashboard:reviews' %}" >
								<div class="modal__btns">
									{% csrf_token %}
									<input type="hidden" name="id" value="{{obj.id}}">
									<input type="hidden" name="action" value="status">
									<button class="modal__btn modal__btn--apply" type="submit" >Approve</button>
									<button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
								</div>
							</form>
						</div>
						<!-- end modal status -->
						<!-- modal view -->
						<div id="modal-view-{{obj.id}}" class="zoom-anim-dialog mfp-hide modal modal--view">
							<div class="reviews__autor">
								<img class="reviews__avatar" src="{{obj.user.profile.url}}" alt="{{obj.user.get_full_name}}">
								<span class="reviews__name">{{obj.title}}</span>
								<span class="reviews__time">{{obj.added_on|date:"jS F, Y, H:i"}} by {{obj.user.get_full_name|default:"Anonymous"}}</span>

								<span class="reviews__rating"><i class="icon ion-ios-star"></i>{{obj.rating}}</span>
							</div>
							<p class="reviews__text">{{obj.description}}</p>
						</div>
						<!-- end modal view -->
						<div id="modal-delete-{{obj.id}}" class="zoom-anim-dialog mfp-hide modal">
							<h6 class="modal__title">Delete Review</h6>

							<p class="modal__text">Are you sure to permanently delete "{{obj.title}}"?</p>
							<form method="post" action="{% url 'app_adminDashboard:delete_review' obj.id %}" >
								<div class="modal__btns">
									{% csrf_token %}
									<button class="modal__btn modal__btn--apply" type="submit" value="Confirm">Delete</button>
									<button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
								</div>
							</form>
						</div>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- end reviews -->
	{% include 'adminDashboard/includes/pagination.html' with page_obj=page_obj only %}
</div>
{% endblock content %}
